body {
    background: #ccc;
    color: #cc9e9e;
}

.container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
.container img {
    max-width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
}